@{
    ViewBag.Title = "Index";
}


<div id="page_container">
    
</div>


<script type="text/javascript" >
    window.pageload = function () {
        
        require(['userlistviewmodel'], function (userlistvw) {
           
          // userlistvw = new userlistvw();
          //  userlistvw.render();
        });
    }
</script>

