<section>
    <br />
    
    <div class="row">
         <div class="col-xs-6">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="itemtype" class="col-lg-4 control-label">Form Item Type</label>
                <div class="col-lg-8">
                    <select class="form-control" id="itemtype">
                        <option value=""></option>
                        <option value="1">Text</option>
                        <option value="2">Single Choice</option>
                    </select>
                    <span class="help-inline"></span>
                </div>

            </div>
               
        </form>
    </div>
      </div>
 <div id="itemcontentholder"></div>


</section>

