<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=safappdb;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>