<section>
    <h4> Category form</h4> 
     <form class="form-horizontal">
       
        <div class="control-group name">
            <label class="control-label" for="name">Category</label>
            <div class="controls">
                <input type="text" id="name" placeholder="Category Name">
                 <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group description">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input type="text" id="description" placeholder="Description">
                <span class="help-inline"></span>
            </div>
        </div>
        
       
        
    </form>
  </section>