<section>
    <h4>Register</h4>
    <table width="100%">
        <tr>
            <td>Username
            </td>
            <td>
                <input type="text" id="username" />
            </td>
        </tr>
        <tr>
            <td>Password
            </td>
            <td>
                <input type="password" id="password" />
            </td>
        </tr>
        <tr>
            <td>Confirm  Password
            </td>
            <td>
                <input type="password" id="confirmpassword" />
            </td>
        </tr>
        <tr>
            <td>FullName
            </td>
            <td>
                <input type="text" id="fullname" />
            </td>
        </tr>
        <tr>
            <td>Email
            </td>
            <td>
                <input type="text" id="email" />
            </td>
        </tr>
        <tr>
            <td>Phone number
            </td>
            <td>
                <input type="text" id="phonenumber" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="btn btn-primary" type="button" id="btn-submit" value="Submit" />
            </td>
        </tr>
    </table>
</section>
