<section>
    <h4> User form</h4> 
    
    <table width="100%" >
        <tr>
            <td>
                Username
            </td>
            <td>
                <input type="text" id="username"/>
            </td>
        </tr>
        <tr>
            <td>
                FullName
            </td>
            <td>
                <input type="text" id="fullname"/>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" id="email"/>
            </td>
        </tr>
        <tr>
            <td>
                Phone number
            </td>
            <td>
                <input type="text" id="phonenumber"/>
            </td>
        </tr>
    </table>
</section>