<section>
    <h4> User form</h4> 
     <form class="form-horizontal">
        <div class="control-group registrationTypeId">
            <label class="control-label" for="registrationTypeId">Contact type</label>
            <div class="controls">
                <select id="registrationTypeId" >
                    <option value="2">Email</option>
                    <option value="1">Phone</option>
                </select>
                  <span class="help-inline"></span>
            </div>
           
        </div>
        <div class="control-group username">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" placeholder="Email/Phone">
                 <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group email">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Email">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group phonenumber">
            <label class="control-label" for="phonenumber">Mobile number</label>
            <div class="controls">
                <input type="text" id="phonenumber" placeholder="Mobile Number">
                 <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group fullname">
            <label class="control-label" for="fullname">Full Name</label>
            <div class="controls">
                <input type="text" id="fullname" placeholder="Full Name">
                 <span class="help-inline"></span>
            </div>
        </div>
       
        
    </form>
  <!--  <table width="100%" >
        <tr>
            <td>
                Username
            </td>
            <td>
                <input type="text" id="username"/>
            </td>
        </tr>
        <tr>
            <td>
                FullName
            </td>
            <td>
                <input type="text" id="fullname"/>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" id="email"/>
            </td>
        </tr>
        <tr>
            <td>
                Phone number
            </td>
            <td>
                <input type="text" id="phonenumber"/>
            </td>
        </tr>
    </table>-->
</section>